<footer class="footer h-1 bg-dark">
    <p> All Rights Reserved & &copy; 2024 by
     <a href="https://fronts.ai/u/anuragkushwahakfreelancerpvtltdgwaliormp"
       >Anurag Kushwah</a></p>
 </footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
</body>
</html>
