<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="favicon.ico" />

    <title>Dashboard</title>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="utf-8" />
        <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="icon" href="favicon.ico" />

        <title>Dashboard</title>

        <!-- Bootstrap core CSS -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />

        <!-- Custom styles for this template -->
        <link href="/assets/css/styles.css" rel="stylesheet" />
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        />
      </head>

      <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-blue">
          <div class="container">
            <a class="navbar-brand" href="/home">
              <img src="/assets/images/logo.png" alt="Angular Project" />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarCollapse"
              aria-controls="navbarCollapse"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/blog_list">Blog</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a href="/admin/dashboard" class="nav-link"
                    >Admin Dashboard</a
                  >
                </li>
                <li class="nav-item my-auto">
                  <a
                    style="
                      text-transform: uppercase;
                      background-color: rgb(89, 87, 90);
                      border-radius: 10%;
                      color: white;
                      font-family: Arial, Helvetica, sans-serif;
                    "
                    class="nav-link bg"
                    href="#"><%=name%></a>
                </li>
                <li class="nav-item">
                  <a href="/logout" class="nav-link">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </body>
    </html>
  </head>
</html>
